{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Mesa</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarmesa/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="txtcodigo" value="{{ mismesas.codigo }}">
                    
                    <div class='form-group'>
                        <input type="text" id="txtubicacion" name="txtubicacion" class="form-control" 
                        value="{{ mismesas.ubicacion }}" placeholder="ubicacion" required>
                    </div>

                    <div class='form-group py-3'>
                        <input type="text" id="txttamaño" name="txttamaño" class="form-control"
                        value="{{ mismesas.tamaño }}" placeholder="Tamaño" required>
                    </div>

                    <div class='form-group py-3'>
                        <input type="text" id="txtsillas" name="txtsillas" class="form-control" 
                        value="{{ mismesas.sillas }}" placeholder="Cantidad de sillas" required>
                    </div>

                    <div class='form-group py-3'>
                        <input type="text" id="txtcan_cliente" name="txtcan_cliente" class="form-control" 
                        value="{{ mismesas.can_cliente }}" placeholder="cantidad de cliente de mesa" required>
                    </div>

                    <div class='form-group py-3'>
                        <input type="text" id="txtnom_cliente" name="txtnom_cliente" class="form-control" 
                        value="{{ mismesas.nom_cliente }}" placeholder="nombre del cliente" required>
                    </div>

                    <div class='form-group py-3'>
                        <input type="text" id="txtorden" name="txtorden" class="form-control" 
                        value="{{ mismesas.orden }}" placeholder="orden" required>
                    </div>

                    <div class='form-group py-2'>
                        <button type="submit" class="btn btn-primary">Guardar mesa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
