{% extends 'base.html'%}

{% block cuerpo %}
{% load static %}

<div class = "row"> <!--LA FILA-->
    <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!--COLUMNA IZQUIERDA-->

    <h1>Agregar Gato</h1>
    <div class="card"> <!--LA TARJETA-->
        <div class="card-body">
            <form action='registrargato/' method='POST'> {% csrf_token %}<!--NO HAY ACCION-->
                <div class='form-group'>
                <input type="text" id="txtcodigo" name="txtcodigo" class="form-control"
                placeholder="Codigo Gato" minlenght="1" maxlenght="6" requiered>
                </div>

                <div class='form-group py-3'>
                <input type="text" id="txtnombre" name="txtnombre" class="form-control" 
                placeholder="nombre" minlenght="1" maxlenght="100" requiered>
                </div>
                    
                <div class='form-group py-3'>
                <input type="text" id="txtedad" name="txtedad" class="form-control" 
                placeholder="edad" minlenght="1" maxlenght="100" requiered>
                </div>

                <div class='form-group py-3'>
                <input type="text" id="txtcolor" name="txtcolor" class="form-control" 
                placeholder="color" minlenght="1" maxlenght="100" requiered>
                </div>

                <div class='form-group py-3'>
                <input type="text" id="txtraza" name="txtraza" class="form-control" 
                placeholder="Raza" minlenght="1" maxlenght="100" requiered>
                </div>

                <div class='form-group py-3'>
                <input type="text" id="txtprecio" name="txtprecio" class="form-control" 
                placeholder="Precio" minlenght="1" maxlenght="100" requiered>
                </div>

                <div class='form-group py-3'>
                <input type="text" id="txtcaracteristica" name="txtcaracteristica" class="form-control" 
                placeholder="Característica" minlenght="1" maxlenght="100" requiered>
                </div>
                
                <div class='form-group py-2'>
                <button type="submit" class="btn btn-primary">Guardar gato</button>
                </div>
                </form>
        </div>
    </div> <!--LA TARJETA-->
            

    </div> <!--COLUMNA IZQUIERDA-->

    <div class = "col-sm-12 col-md-8 col-lg-4 col-xl-8"> <!--COLUMNA DERECHA-->

    <h1>Listado de gatos</h1>
    <img class="w-50" src="{%static 'img/gato.jpg'%}" alt"luevano" width="400" height="400">
    <br>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Codigo</th>
            <th scope="col">nombre</th>
            <th scope="col">edad</th>
            <th scope="col">color</th>
            <th scope="col">Raza</th>
            <th scope="col">Precio</th>
            <th scope="col">caracteristica</th>

            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
            {% for v in misgatos %}
            <tr>
                <td> {{forloop.counter}} </td>
                <td> {{v.codigo}} </td>
                <td> {{v.nombre}} </td>
                <td> {{v.edad}} </td>
                <td> {{v.color}} </td>
                <td> {{v.raza}} </td>
                <td> {{v.precio}} </td>
                <td> {{v.caracteristica}} </td>


                <td> <a href="seleccionargato/{{v.codigo}}" class="btn btn-info">Editar</a> </td><!--FALTA CÓDIGO-->
                <td> <a href="borrargato/{{v.codigo}}" class="btn btn-danger">Borrar</a> </td><!--FALTA CÓDIGO-->
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </div> <!--COLUMNA DERECHA-->

{% endblock %}